.top-size {
    /* float: left; */
    font-size: 14px;
    color: rgb(170,170,170); 
    margin-left: 172px;
    background-color: white;
    height: 30px;
    line-height: 30px;
}
.topnav{
    background-color: rgb(46,51,64);
    height:80px;
}
.topnav-left{
    float: left;
}
.topnav-left img{
    float: left;
    height: 50px;
   margin-top: 15px;
   margin-right: 65px;
}
.topnav-left a{
    float: left;
    font-size: 16px;
    color: rgb(204,204,204);
    margin-right: 20px;
    line-height: 80px;
}
.topnav-left a:nth-child(4){
    color: white;
}
/* 第二部分学习路线图 */
.student{
    background-color: rgb(246,246,246);
    height: 875px;
}
.student-size{
float: left;
}
.studnet-size a{
    font-size: 13px;
    color: rgb(65,72,87);
}