/* 头部 */
header {
  width: 100%;
  line-height: calc(42rem / 16);
  text-align: center;
  height: calc(44rem / 16);
  background: #fff;
  border-bottom: 1px solid rgb(245, 245, 245);
}

header span {
  text-align: center;
  color: #3f4146;
  font-size: calc(16rem / 16);
}
header a {
  float: right;
  margin-top: calc(13rem / 16);
  margin-right: calc(10rem / 16);
}
header img {
  float: right;
  width: calc(20em / 16);

  height: calc(16rem / 16);
}
/* 内容 */
.content {
  width: 100%;
  height: calc(285rem / 16);
  padding-left: calc(15rem / 16);
  padding-right: calc(15rem / 16);
  box-sizing: border-box;
}
.content-title {
  width: 100%;
  height: calc(30rem / 16);
  line-height: calc(30rem / 16);
  margin-top: calc(15rem / 16);
}
.content-title h3 {
  float: left;
  font-size: calc(16rem / 16);
  color: #3f4146;
  font-weight: normal;
}
.content-title span {
  float: left;
  color: #9b9ea3;
  font-size: calc(12rem / 16);
  margin-left: calc(10rem / 16);
}
.content-title button {
  float: right;
  height: calc(20rem / 16);
  background-color: #eeeff2;
  border-radius: calc(10rem / 16);
  border: calc(1rem / 16) solid #eeeff2;
  padding-left: calc(10rem / 16);
  padding-right: calc(10rem / 16);
  font-size: calc(12rem / 16);
  color: #9b9ea3;
  margin-top: calc(3rem / 16);
}
.content ul {
  width: 100%;
  height: calc(235rem / 16);
}
.content li {
  text-align: center;
  float: left;
  width: 22%;
  margin-right: calc(8rem / 16);
  height: calc(34rem / 16);
  line-height: calc(34rem / 16);
  margin-top: calc(12rem / 16);
  border-radius: calc(4rem / 16);
  background-color: rgb(238, 239, 242);
}
.content ul li a {
  width: 100%;
  color: #3f4146;
  font-size: calc(16rem / 16);
}

/* 内容第二部分 */
.content-two {
    width: 100%;
    height: calc(335rem / 16);
    padding-left: calc(15rem / 16);
    padding-right: calc(15rem / 16);
    box-sizing: border-box;
  }
  .content-two-title {
    width: 100%;
    height: calc(30rem / 16);
    line-height: calc(30rem / 16);
    margin-top: calc(15rem / 16);
  }
  .content-two-title h3 {
    float: left;
    font-size: calc(16rem / 16);
    color: #3f4146;
    font-weight: normal;
  }
  .content-two-title span {
    float: left;
    color: #9b9ea3;
    font-size: calc(16rem / 16);
    margin-left: calc(10rem / 16);
  }
  .content-two-title b {
    float: right;
    height: calc(20rem / 16);
    font-size: calc(12rem / 16);
    color: #9b9ea3;
    font-weight: normal;
  }
  .content-two ul {
    width: 100%;
    height: calc(235rem / 16);
  }
  .content-two li {
    text-align: center;
    float: left;
    width: 22%;
    margin-right: calc(8rem / 16);
    height: calc(34rem / 16);
    line-height: calc(34rem / 16);
    margin-top: calc(12rem / 16);
    border-radius: calc(4rem / 16);
    background-color: rgb(238, 239, 242);
  }
  .content-two ul li a {
    width: 100%;
    color: #3f4146;
    font-size: calc(16rem / 16);
  }
  