 /* 清除浮动 */
 .clearfix:before,
 .clearfix:after {
   content: '';
   display: table;
 }
 
 .clearfix:after {
   clear: both;
 }
 
 .clearfix {
   *zoom: 1;
 }
 
 .container{
   width: 1190px;
   margin: 0 auto;
 }
 
 