@media screen and (width: 320px) {
  html {
    font-size: calc(320px / 20);
  }
}
@media screen and (width: 375px) {
  html {
    font-size: calc(375px / 20);
  }
}
@media screen and (width: 414px) {
  html {
    font-size: calc(414px / 20);
  }
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
}
/* 头部 */
header {
  position: fixed;
  position: relative;
  width: 100%;
  height: calc(128rem / 16);
  background: linear-gradient(
      176deg,
      rgb(76, 126, 255) 0%,
      rgb(100, 174, 252) 100%
    )
    0% 0% / 100%;
}
/* 头部标题 */
.header-title {
  width: 100%;
  height: calc(50rem / 16);
}
/* 头部标题左边 */
.header-title-left {
  float: left;
  width: calc(82rem / 16);
  height: calc(26rem / 16);
  margin-top: calc(15rem / 16);
  margin-left: calc(15rem / 16);
}
.header-title-left img {
  float: left;
  width: calc(80rem / 16);
  height: calc(23rem / 16);
}
/* 头部标题右边 */
.header-title-right {
  float: right;
  margin-top: calc(15rem / 16);
  margin-right: calc(12rem / 16);
}
.header-title-right a {
  display: inline-block;
  width: calc(27rem / 16);
  height: calc(23rem / 16);
  margin-right: 3px;
}
.header-title-right img {
  width: calc(27rem / 16);
  height: calc(23rem / 16);
}
/* 内容 */
.header-content {
  width: 100%;
  height: calc(44rem / 16);
  text-align: center;
}
.header-content ul {
  width: 100%;
  height: calc(37rem / 16);
  line-height: calc(30rem / 16);
}
.header-content li {
  float: left;
  width: 33.33%;
  height: calc(37rem / 16);
}
.header-content a {
  font-size: calc(18rem / 16);
  color: rgb(255, 255, 255);
}
.header-content ul li:first-child a{
  padding-bottom: calc(5rem / 16);
  border-bottom: 2px solid rgb(98, 216, 255);
}
/* 主体部分 */
.main {
  width: 100%;
  height: calc(1478rem / 16);
  background-color: #fff;
}
/* 第一部分 */
.section-one {
  position: absolute;
  top: calc(95rem / 16);
  /* width: 100%; */
  /* margin-left: calc(18rem/16); */
  height: calc(80rem / 16);
  background-color: white;
  border-radius: calc(8rem / 16);
  margin: 0 10px;
  box-sizing: border-box;
  box-shadow: rgba(0, 69, 189, 0.1) 0px 1px 6px 0px;
}
.section-one ul {
  /* width: 100%; */
  height: calc(81rem / 16);
  text-align: center;
  /* padding-left: calc(10rem/16); */
}
.section-one li {
  float: left;
  width: 16.66%;
  line-height: calc(26rem / 16);
  font-size: calc(14rem / 16);
  color: #515761;
}
/* 第二部分 */
.section-two {
  width: 100%;
  height: calc(120rem / 16);
  margin-top: calc(45rem / 16);
}
.section-two-title {
  width: 100%;
  height: calc(140rem / 16);
}
.section-two-title a {
  display: block;
  width: 100%;
  height: calc(60rem / 16);
  border-bottom: 1px solid rgb(245, 245, 245);
  padding: calc(16rem / 16);
  box-sizing: border-box;
}
.section-two-title a h3 {
  font-weight: normal;
  font-size: calc(14rem / 16);
  color: rgb(34, 34, 34);
  margin-bottom: calc(5rem / 16);
}
.section-two-title a span {
  color: rgb(238, 84, 74);
}
.section-two-title a b {
  margin-left: calc(5rem / 16);
  font-weight: normal;
  color: rgb(130, 140, 155);
}
/* 第三部分 */
.section-three {
  display: block;
  width: 90%;
  height: calc(330rem / 16);
  border: 1px solid rgb(255, 255, 255);
  box-shadow: rgba(5, 24, 74, 0.16) 0px 1px 4px 0px;
  background: rgb(255, 255, 255);
  border-radius: calc(5rem / 16);
  margin-top: calc(10rem / 16);
  margin-left: calc(18rem / 16);
}
.section-three-one {
  display: block;
  padding: calc(12rem / 16);
  box-sizing: border-box;
  border-bottom: 1px solid rgb(245, 245, 245);
}
.section-three-one img {
  float: right;
  width: 32%;
  height: calc(65rem / 16);
  border-radius: calc(5rem / 16);
}
.section-three-left {
  float: left;
  width: 60%;
  height: 100%;
}
.section-three-left p {
  font-size: calc(14rem / 16);
  color: rgb(38, 38, 38);
  margin-bottom: calc(10rem / 16);
  line-height: 1.4;
}
.section-three-left span {
  color: rgb(130, 140, 155);
  margin-right: 5px;
}
/* 第四部分 */
.section-four {
  width: 100%;
  height: calc(46rem / 16);
  text-align: center;
  border-bottom: 5px solid rgb(247, 248, 250);
}
.section-four a {
  line-height: calc(46rem / 16);
  color: rgb(80, 118, 245);
  font-size: calc(14rem / 16);
}
.section-four a img {
  width: calc(14rem / 16);
  height: calc(14rem / 16);
  vertical-align: middle;
}
/* 第五部分 */
.section-five {
  width: 100%;
  height: calc(150rem / 16);
  margin-top: 10px;
}
.section-five-title {
  display: block;
  width: 100%;
  height: calc(135rem / 16);
  padding-left: calc(10rem / 16);
  padding-right: calc(10rem / 16);
  box-sizing: border-box;
  border-bottom: calc(1rem / 16) solid rgb(245, 245, 245);
  margin-top: calc(10rem / 16);
}
.section-five h3 {
  font-size: calc(14rem / 16);
  color: rgb(34, 34, 34);
  font-weight: normal;
}
.section-five ul {
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}
.section-five li {
  width: 33.33%;
  float: left;
  margin-top: calc(5rem / 16);
  margin-bottom: calc(5rem / 16);
  /* margin-left:calc(5rem/16); ; */
}
.section-five img {
  width: 96%;
  height: calc(70rem / 16);
  border-radius: calc(5rem / 16);
}
.section-five span {
  color: rgb(130, 140, 155);
  font-size: 12px;
  margin-right: 5px;
}
/* 第六部分 */
.section-six {
  width: 100%;
  height: calc(215rem / 16);
  margin-top: calc(5rem / 16);
  border-bottom: 1px solid rgb(245, 245, 245);
}
.section-six-title {
  display: block;
  padding-left: calc(10rem / 16);
  padding-right: calc(10rem / 16);
  box-sizing: border-box;
  width: 100%;
  height: calc(215rem / 16);
}
.section-six-title p {
  color: rgb(34, 34, 34);
  font-size: calc(16rem / 16);
  margin-bottom: calc(5rem / 16);
}
.section-six-title img {
  width: 100%;
  height: calc(165rem / 16);
  border-radius: calc(5rem / 16);
  margin-bottom: calc(5rem / 16);
}
.section-six-title span {
  color: rgb(83, 123, 255);
  font-size: calc(12rem / 16);
  margin-right: calc(5rem / 16);
}
.section-six-title b {
  font-size: calc(12rem / 16);
  color: rgb(130, 140, 155);
  font-weight: normal;
}
/* 第七部分 */
.section-seven {
  width: 100%;
  height: calc(197rem / 16);
  border-top: calc(5rem / 16) solid rgb(245, 245, 245);
}
.section-seven-title {
  width: 100%;
  height: calc(45rem / 16);
  margin-top: calc(5rem / 16);
  border-bottom: 1px solid rgb(245, 245, 245);
  box-sizing: border-box;
  padding-right: calc(10rem / 16);
  padding-left: calc(10rem / 16);
}
.section-seven-search {
  width: 80%;
  height: calc(30rem / 16);
  float: left;
  border-radius: calc(30rem / 16);
  background-color: rgb(246, 248, 252);
  line-height: calc(30rem / 16);
  margin-top: calc(5rem / 16);
}
.section-seven input {
  background-color: rgb(246, 248, 252);
  border: none;
  border-left: 1px solid #ccc;
  padding-left: calc(10rem / 16);
}
.section-seven img {
  padding: calc(4rem / 16);
  padding-right: calc(10rem / 16);
  padding-left: calc(10rem / 16);
  width: calc(20rem / 16);
  height: calc(20rem / 16);
  float: left;
}
.section-seven-title a {
  float: right;
  color: rgb(76, 126, 255);
  border: 1px solid rgb(76, 126, 255);
  padding-left: calc(12rem / 16);
  padding-right: calc(12rem / 16);
  padding-top: calc(3rem / 16);
  padding-bottom: calc(3rem / 16);
  border-radius: calc(20rem / 16);
  margin-top: calc(10rem / 16);
}
.section-seven-content {
  width: 100%;
  height: calc(102rem / 16);
  box-sizing: border-box;
  padding-right: calc(10rem / 16);
  padding-left: calc(10rem / 16);
  border-bottom: 1px solid rgb(245, 245, 245);
}
.section-seven-content ul{
    display: block;
    width: 100%;
    height: 100%;
    line-height: calc(30rem/16);
}
.section-seven-content li{
    float: left;
    width: 50%;
    height: calc(20rem/16);
   margin-top: calc(8rem/16);
    font-size: calc(14rem/16);
}
.section-seven-content li a{
    display: inline-block;
    height: calc(20rem/16);
}
.section-seven-content ul li a:nth-child(-n+3){
   
    color: rgb(238, 84, 74);
}
.section-seven-content a{
    font-size: calc(14rem/16);
    border: none;
   
}
.section-seven-content ul li span{
    margin-left: calc(5rem/16);
    color: black;
}
.section-seven-bottom{
    position: relative;
    height: calc(46rem/16);
 text-align: center;
    font-size: calc(14rem/16);
    line-height: calc(46rem/16);
}
.section-seven-bottom a{
    color: rgb(80, 118, 245);
}
.section-seven-bottom  img{
    position: absolute;
    right: calc(44rem/16);
    top: 32%;
    width: calc(16rem/16);
    height: calc(16rem/16);
    padding: 0;
    vertical-align: middle;
}