/* 版心 */
.container{
    position: relative;
    width: 1226px;
    margin: 0 auto;
}
/* 清除浮动 */
.clearfix:before,
.clearfix:after{
    content: "";
    /* 既让伪元素变成块级 还让他们排在一行 */
    display: table;
}

.clearfix:after{
    clear: both;
}
.clearfix{
    *zoom: 1;
}