/* 顶部导航栏 */
.topnav {
  background-color: #333333;
  width: 100%;
  height: 45px;
}

/* 左边文字 */
.topnav-left {
  float: left;
}
.topnav-left a {
  float: left;
}
.topnav-left i {
  float: left;
}

/* 右边文字 */
.topnav-right {
  float: right;
}
.topnav-right a {
  float: left;
}
.topnav-right i {
  float: left;
}

/* a与i的代码合并，减少冗余
字体大小 垂直居中 字体颜色
*/
.topnav a {
  color: rgb(176, 176, 176);
  font-size: 13px;
  line-height: 45px;
}
.topnav i {
  float: left;
  color: rgb(55, 60, 66);
  margin: 0 8px;
  line-height: 45px;
}

/* 文字hover效果 */
.topnav a:hover {
  color: white;
}

/* 购物车样式 */
.topnav-right .cart {
  margin-left: 24px;
  width: 120px;
  height: 100%;
  background-color: #424242;
  text-align: center;
}

/* 购物车hover效果 */
.topnav-right .cart:hover {
  color: #ff6700;
  background-color: #ffffff;
}

/* 第二部分 搜索导航 */
.searchnav{
  height: 110px;
}

/* logo */
.searchnav-logo{
  float: left;
  background-color: rgb(255,103,0);
  width:55px;
  height:55px;
  line-height: 60px;
  text-align: center;
  box-sizing: border-box;
  margin-top: calc((110px - 55px ) / 2) ;
}

/* 中间文字的框子 */
.searchnav-center{
  float: left;
  margin-left: 210px;
  line-height: 110px;
}

/* 中间文字 */
.searchnav-center a{
  float: left;
  font-size: 16px;
  color: rgb(51,51,51);
  margin: 0 10px;
}

/* 搜索框 */
.searchnav-search{
  position: relative;
  float: right;
  width: 330px;
  height: 50px;
  border: 1px solid #cccccc;
  margin-top: calc((110px - 50px) / 2);
}

/* 输入框 */
.searchnav-input input{
  float: left;
  width: 270px;
  height: 50px;
  border: none;
  color: black;
  box-sizing: border-box;
  padding: 8px;
}

/* 按钮 */
.searchnav-search button{
  width: 55px;
  height: 50px;
  background-color: white;
  margin-left: 5px;
  box-sizing: border-box;
  border: none;
  border-left: 1px solid #ccc;
}

/* 搜索关键词定位 */
.searchnav-hotkeys{
  position: absolute;
  right: 57px;
  top: 18px;
}

/* 搜索关键词样式 */
.searchnav-hotkeys span{
  color: rgb(117,117,117);
  background-color: rgb(238,238,238);
  height: 18px;
  width: 90px;
  margin-right: 8px;
}

/* 第三部分轮播图 */
.carsoule{
  height: 460px;
}
/* 轮播图列表 */
.carsoule li a{
  display: block;
}
/* 左边栏 */
.carsoule-aside{
  position: absolute;
  top: 0;
  left: 0;
  height: 460px;
  width:234px;
  background-color: rgba(154,153,153,0.75);
  box-sizing: border-box;
  padding: 20px 0px;
}
/* 左边栏文字 */
.carsoule-aside a{
  display: block;
  width: 100%;
  color: rgb(255,255,255);
  font-size: 15px;
  height: 43px;
 line-height: 43px;
 box-sizing: border-box;
 padding-left: 20px;
}
.carsoule-aside a i span{
  float: right;
  margin-right: 10px;
}
/* 文字hover效果 */
.carsoule-aside a:hover{
  background-color: rgb(255,103,0);
}
.product{
  position: absolute;
  top: 50%;
  left: 232px;
  font-weight: 700;
}
.products{
  position: absolute;
  right: 0;
  top: 50%;
  font-weight: 700;
}
.products,
.product:hover{
  color: #fff;
   background-color: rgba(0, 0, 0,0.75);
}
 /* 优惠活动 */
 .discount {
  margin-top: 14px;
  margin-bottom: 26px;
 }


 .discount-server {
   float: left;
   width: 234px;
   height: 170px;
   background-color: #5f5750;
 }

 /* 原本 半透明 移入不透明 */
 .discount-server a {
   position: relative;
   float: left;
   width: 78px;
   height: 85px;
   text-align: center;
   color: rgb(166,161,157);
   opacity: 0.5;
 }

 .discount-server a:before {
   content: '';
   position: absolute;
   top: 2px;
   left: 9px;
   width: 64px;
   height: 1px;
   background-color: #776d65;
 }

 .discount-server a:after {
  content: '';
  position: absolute;
  top: 9px;
  left: 3px;
  width: 1px;
  height: 70px;
  background-color: #776d65;
}

 .discount-server a:hover {
   opacity: 1;
 }
 .discount-server img {
  margin-top: 22px;
  margin-bottom: 8px;
  width: 24px;
}

.discount-server span {
  display: block;
  color: #fff;
}

 .discount-server img {
   margin-top: 22px;
   margin-bottom: 8px;
   width: 24px;
 }
 .discount-product img{
   width:316px ;
   height: 170px;
   margin-left:12px ;
 }
 .flash{
   height: 450px;
   background-color: rgb(245,245,245);
 }
 .title{
  
   height: 65px;
 }
 .title h2{
   float: left;
   font-weight: 200;
   color: #8e8e8e;
   line-height: 65px;
   font-size: 20px;
 }
 .title .title-right{
 float: right;
 margin-top: 15px;
 border: 1px solid #ccc;
 width: 70px;
 height:25px ;
 box-sizing: border-box;
 text-align: center;
 border-left: none;
 }
 .title .title-right a{
   float: left;
   border-left: 1px solid #ccc;
   height: 25px;
   width: 33px;}
   .title .title-right a:hover{
     color: rgb(255,103,0);
   }
.flash-content{
  height: 345px;
}
.flash-seckill{
  height: 345px;
  width: 235px; 
  background-color: rgb(241,237,237);
  overflow: hidden;
}
.flash-content{
  text-align: center;
}
.flash-seckill h3 {
  color: rgb(239,58,59);
  font-weight: normal;
  font-size: 20px;
  margin-top: 60px;
}
.flash-seckill img{
  margin-top: 30px;
  margin-bottom: 30px;
}
.flash-seckill-text{
  color: rgb(111,109,109);
  font-size: 15px;
}
.flash-seckill-time{
  margin-top: 40px;
}
.flash-seckill-time span{
  display: inline-block;
  background-color:rgb(96,87,81);
  width: 45px;
  height: 45px;
  font-size: 30px;
  text-align: center;
  color: white;
  width: 50px;
 height: 50px;
 text-align: center;
 line-height: 50px;
} 
.flash-seckill-time small{
 
  color: rgb(96,87,81);
  font-size: 30px;
 
}