html,body{
    width: 100%;
    height: 100%;
}
/* 头部 */
header{
    position: relative;
    width: 100%;
    height: 165px;
    background-color: rgb(79,133,254);
}
/* 头部标题 */
.header-title{
    width: 100%;
    height: 50px;
 
}
/* 头部标题左边 */
.header-title-left{
    float: left;
   width: 99px;
   height: 29px;
   margin-top: 15px;
   margin-left: 15px;
} 
.header-title-left img{
    float: left;
    width: 99px;
    height: 29px;
}
/* 头部标题右边 */
.header-title-right{
    float: right;
    margin-top: 15px;
    margin-right: 12px;
    
}
.header-title-right a{
    display: inline-block;
    width: 27px;
    height: 25px;
    margin-right: 3px;
}
.header-title-right img{
    width: 27px;
    height: 25px;
}
/* 内容 */
.header-content{
    width: 100%;
    height: 44px;
    text-align: center;
}
.header-content ul{
    width: 100%;
    height: 44px;
    line-height: 44px;
}
.header-content li{
    float: left;
    width: 33.33%;
    height: 37px;
}
.header-content a{
   font-size: 18px; 
   color: rgb(255, 255, 255);
}
.header-content a:hover{
    padding-bottom: 5px;
    border-bottom: 2px solid rgb(98,216,255);
}
/* 主体部分 */
.main{
  
    width: 100%;
    height: 700px;
    background-color:#fff;
}
/* 第一部分 */
.section-one{
    position: absolute;
    top: 110px;
    width: 90%;
    margin-left: 18px;
    height: 95px;
    background-color: white;
    border-radius: 8px;
}
.section-one ul{
  width: 100%;
  height: 95px;
  text-align: center;
}
.section-one li{
    float: left;
    width: 56px;
    height: 17px;
    margin-top: 10px;
    font-size: 16px;
    color: #515761;
}
/* 第二部分 */
.section-two{
    width: 100%;
    height: 140px;
    margin-top: 50px;
}
.section-two-title{
   width: 100%;
   height: 140px;
}
.section-two-title a{
    display: block;
    width: 100%;
    height: 70px;
    border-bottom: 1px solid #ccc;
    padding: 12px;
    box-sizing: border-box;
}
.section-two-title a h3{
    font-weight: normal;
    font-size: 18px;
    color: rgb(34,34,34);
    margin-bottom: 5px;
}
.section-two-title a span{
    color: rgb(238,84,74);
}
.section-two-title a b{
    margin-left: 5px;
    font-weight: normal;
    color: rgb(130, 140, 155);
}