/* body{
   background-color:black;
} */
* {
    box-sizing: border-box;
}
/* 顶部导航栏 */
.topnav{
    width: 100%;
    height: 30px;
    background-color: #2b2b2b;
}
/* 版心 */
.container{
    height: 100%;
 
    margin: 0 auto;
    width: 1200px;
  
}
/* 版心中左边文字 */
.container-left-size a{
    overflow: hidden;
    height: 30px;
    float: left;
    vertical-align: middle;
    margin:0 5px;
    line-height: 30px;
    color: rgb(204,204,204);
}
/* 版心中左边文字hover效果 */
.container-left-size a:hover{
    color: rgb(255,157,0);
}
/* 版心中右边 */
.container-right-size ul {
    float: right;
}
/* 版心中右边的文字 */
.container-right-size li{
    height: 30px;
    position: relative;
    float: left;
    margin-right:20px;
    line-height: 30px;
    vertical-align: middle;
}
/* 版心中右边文字hover效果 */
.container-right-size li a:hover{
    color:rgb(255,157,0) ;
}
/* 版心中右边文字图片 */
.container-right-size li img{
margin-top:5px ;
vertical-align: middle;
}
/* 版心中右边文字第三个文字hover效果 */
.container-right-size li a :nth-last-child(-n+3):hover{
    color: rgb(253,208,0);
}
/* 版心中右边文字下拉列表 */
.container-right-size li ul  {
   
    float: none;
    background-color: white;
    width: 90px;
    height: 145px;
    text-align: center;
    z-index: 2;
}
/* 版心中右边文字第三个中的下拉列表中文字 */
.container-right-size li ul li {
    float: none;
    width: 100%;
    text-align: center;
}
/* 版心中右边文字第三个中的下拉列表hover效果*/
.container-right-size li ul li:hover{
    background-color: rgb(253,208,0);
}
/* 版心中右边文字的图片 */
.container-right-size ul li img {
    margin-bottom:5px ;
}
/* 版心中右边文字的颜色 */
.container-right-size ul li a{
    color: rgb(204,204,204);
}
/* 版心中右边文字第三个背景色hover效果 */
.col:hover{
    background-color: white;
    z-index: 2;
}
/* 版心中右边文字第三个背景文字hover效果 */
.container-right-size ul li:nth-child(3) a:hover{
    color: rgb(204,204,204);
}
/* 版心 */
.container-right-size li ul li:hover{
    color: white;
}
/*版心中下来列表隐藏 */
.container-right-size li ul {
    display: none;
}
/*版心中下来列表显示*/
 .container-right-size ul li:nth-child(3):hover ul {
    display:block;
} 

.container-right-size ul .upxcx {
    position: absolute;
    display: none;
    top: 20px;
    left: -68px;
}
 
.container-right-size ul li:nth-child(5) a:hover img{
    display: block;
}
.container-right-size ul .upwx{
    position: absolute;
    display: none;
    top: 20px;
    left: -60px;
}
.container-right-size ul li:nth-child(7) a:hover img{
    display: block;
}
.container-right-size  ul .upphone{
    position: absolute;
    left: -45px;
    top: 25px;
    display: none;
}
.container-right-size ul .phonehover:hover img:nth-child(2){
display: block;
}

/* 第二部分搜索栏 */

.search{
    width: 100%;
    height: 120px;
   background-color: #333333;
   /* margin-top: 10px; */
   /* border-top: 1px solid #333333; */
}
/* 版心 */
.search-container{
    width: 1200px;
    height: 100%;
    
    margin:0 auto;
    /* position: relative; */
}
.search .search-container-left img{
    float: left;
    margin-top: 36px;
    margin-left: 5px;
}
.search-container-center span{
font-size: 16px;
color: rgb(253,208,0);
float: left;
margin-left: 130px;
margin-top: 55px;
}
.search-container-center img{
    position: absolute;
    top: 92px;
    margin-left:10px ;
    
}
.search-container--input{
    width: 560px;
    height: 33px;
    border: 2px solid rgb(253,208,0);
    margin-top: 47px;
    margin-left: 25px;
    float: left;
}
.search-container--input span{
    color: rgb(204,204,204);
    margin: 0;
    padding: 0;
    font-size: 15px;
    float: left;
    font-size: 100%;
    margin-bottom: 50px;
    margin-left: 20px;
    margin-top: 7px;
    margin-left: 10px;
}
.search-container--input input{
    width: 370px;
    height: 29px;
    border: none;
    float: left;
    margin-left: 20px;
   background-color: rgb(52,52,52);
   color: white;
    
}
.search-container-button button{
    float: right;
    width: 135px;
    height: 33px;
    background-color: rgb(253,208,0);
    border: none;
    margin-right: -3px;
    margin-top: -2px;
    font-size: 15px;
    font-weight: 600;
}
.search-container-right-img span{
    float: right;
}