/* 顶部导航栏 */
.topnav {
  background-color: rgb(248, 248, 248);
  width: 100%;
  height: 40px;
}
/* 左边浮动 */
.topnav-left {
  float: left;
}
/* 左边定位图标 */
.topnav-left img {
  float: left;
  margin-top: 10px;
  height: 16px;
}
/* 左边文字 */
.topnav-left span {
  float: left;
  line-height: 40px;
  color: rgb(102, 102, 102);
  margin-right: 5px;
}
/* 左边文字 */
.topnav-left a {
  float: left;
  line-height: 40px;
  color: #999999;
  margin: 0 3px;
}
/* 选中元素 */
.topnav-left a:nth-child(3) {
  margin-top: 13px;
  margin-right: 5px;
  line-height: 1em;
  height: 1em;
  color: rgb(102, 102, 102);
  border: 1px solid rgb(229, 229, 229);
}
.topnav-left-rifht{
  float: left;
}
.topnav-left-rifht a{
  float: left;
  border:none;
}
.topnav-left-rifht a:nth-child(3){
  border: none;
  color: rgb(153,153,153);
}
/* 左浮动 */
.topnav-left-size {
  float: left;
}
/* 右浮动 */
.topnav-right {
  float: right;
  line-height: 40px;
}
/* 右边文字 */
.topnav-right a {
  float: left;
  color: #999999;
  margin: 0 15px;
}
/* 整体a的hover效果 */
.topnav a:hover {
  color: rgb(254, 140, 0);
}
/* 选中元素 */
.topnav-left-size a:nth-child(1) {
  color: rgb(254, 140, 0);
  margin-left: 30px;
}
/* 第二部分 搜索导航 */
.searchnav {
  height: 200px;
  background-color: white;
}
/* 搜索栏左边 */
.searchnav-left {
  float: left;
}
/* 搜索栏左边图片 */
.searchnav-left img {
  float: left;
  width: 126px;
  height: 46px;
  margin-top: 35px;
}
/* 搜索框 */
.searchnav-search {
  float: left;
  width: 550px;
  height: 40px;
  border: 1px solid rgb(229, 229, 229);
  margin-top: 40px;
  margin-left: 195px;
}
/* 输入框左浮动 */
.searchnav-input {
  float: left;
}
/* 输入框 */
.searchnav-input input {
  float: left;
  width: 470px;
  height: 40px;
  border: none;
  box-sizing: border-box;
  padding: 15px;
  font-size: 15px;
  color: black;
}
/* 输入框文字 */
.searchnav-input ::placeholder {
  color: rgb(153, 153, 153);
}
/* 按钮 */
.searchnav-search button {
  float: right;
  background-color: rgb(255, 195, 0);
  border: none;
  width: 80px;
  height: 40px;
}

/* 热门搜索词 */
.searchnav-hotkeys {
  float: left;
  margin-left: 335px;
  font-size: 13px;
  margin-top: 10px;
}
/* 热门搜索词 */
.searchnav-hotkeys a {
  margin-right: 10px;
  color: rgb(153, 153, 153);
}
/* 热门搜索词hover效果 */
.searchnav-hotkeys a:hover {
  color: rgb(254, 140, 0);
}
/* 美团功能 */
.searchnav-bottom {
  float: left;
  margin-left: 280px;
  margin-top: 60px;
  font-size: 18px;
}
/* 美团功能文字 */
.searchnav-bottom a {
  float: left;
  font-weight: 700;
  margin-right: 32px;
}
/* 美团功能hover效果 */
.searchnav-bottom a:nth-child(1):hover {
  color: rgb(251, 199, 82);
}
.searchnav-bottom a:nth-child(2):hover {
  color: rgb(237, 30, 36);
}
.searchnav-bottom a:nth-child(3):hover {
  color: rgb(237, 30, 36);
}
.searchnav-bottom a:nth-child(4):hover {
  color: rgb(251, 199, 82);
}
.searchnav-bottom a:nth-child(5):hover {
  color: rgb(254, 140, 0);
}
.searchnav-bottom a:nth-child(6):hover {
  color: rgb(237, 30, 36);
}
/* 全部分类 */
.searchnav-size {
  float: left;
}
.searchnav-size span {
  float: left;
  font-weight: 700;
  font-size: 18px;
  position: absolute;
  left: 181px;
  top: 211px;
}
/* 大盒子 */
.big-box {
  height: 4200px;
  background-color: rgb(248, 248, 248);
}
/* 美团服务 */
.serve {
  height: 485px;
}
/* 左侧下拉列表 */
.serve-select {
  float: left;
  width: 231px;
  /* height: 590px; */
  height: 475px;
  border: 1px solid #ccc;
  background-color: white;
  margin-top: -49px;
}
.serve-select dd:hover {
  background-color: rgb(255, 247, 235);
  font-weight: 700;
  color: black;
}
.serve-select img {
  margin-left: -209px;
  margin-top: 58px;
}
.serve-select dl {
  float: left;
  margin-left: 45px;
  font-size: 13px;
  margin-top: 52px;
}
.serve-select dd {
  line-height: 26px;
}
.serve-select i {
  float: right;
  margin-left: 76px;
}
/* 中间背景图 */
.serve-advertising img {
  margin-top: 10px;
  margin-left: 10px;
}

/* 右边 */
.serve-right {
  float: right;
  width: 220px;
  height: 100px;
}
/* 右上 */
.serve-right-top {
  float: left;
  width: 220px;
  height: 240px;
  border: 1px solid #ccc;
  margin-top: -421px;
  text-align: center;
  background-color: white;
}
/* 右下 */
.serve-rigth-bottom {
  height: 165px;
  width: 220px;
  border: 1px solid #ccc;
  float: left;
  margin-top: -170px;
  text-align: center;
  background-color: white;
}
.serve-right-top img {
  border-radius: 50%;
  border: 4px solid #ccc;
  width: 52px;
  height: 52px;
  margin-top: 35px;
}
.serve-right-top p {
  font-size: 15px;
  margin: 15px 0px;
}
.serve-right-top a {
  border-radius: 17px;
  width: 113px;
  height: 20px;
  margin-left: 51px;
  line-height: 20px;
  display: block;
  border: 1px solid #ccc;
  padding: 5px;
  padding: 5px;
  margin-bottom: 5px;
}
.serve-right-top a:hover{
  background-color: #f6f6f6;
transition: 0.5s;
}
.serve-rigth-bottom img {
  width: 28px;
  height: 28px;
  margin-top: 20px;
  width: 90px;
  height: 90px;
}
.serve-rigth-bottom p {
  font-size: 16px;
  margin-bottom: 3px;
}
.serve-rigth-bottom a {
  margin-top: 5px;
  color: #ec5300;
  margin-bottom: 1px;
}
.serve-rigth-bottom a:nth-child(4) {
  color: black;
}

/* 第三部分美食推荐 */
.food {
  height: 678px;
}
.food-title {
  background-color: #c0ab83;
  height: 45px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.food-title a {
  float: left;
  color: white;
  font-size: 14px;
  margin-left: 15px;
  line-height: 45px;
}
.food-title a:nth-child(1) {
  font-size: 16px;
  margin-right: 5px;
}
.food-box {
  border: 1px solid #ccc;
  background-color: white;
}
.food-cake {
  float: left;
  width: 390px;
  height: 315px;
  margin-left: 5px;
  text-align: center;
}
.food-cake img {
  width: 368px;
  height: 208px;
  margin-top: 15px;
}
.food-cake h5 {
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 10px;
  text-align: left;
  margin-left: 8px;
  margin-top: 12px;
}
.food-cake p {
  color: #ccc;
  margin-bottom: 10px;
  font-size: 12px;
  text-align: left;
  margin-left: 8px;
}
.food-cake span {
  margin-right: 3px;
  color: rgb(221, 180, 77);
  font-size: 16px;
  text-align: left;
}
.food-cake s {
  color: #ccc;
  text-align: left;
  margin-right: 252px;
}
.yuandian {
  position: relative;
}
.yuandian li {
  position: absolute;
  left: 0;
  top: 0px;
  float: left;
  width: 10px;
  height: 10px;
  border: 3px solid #ccc;
  background-color: rgb(237, 30, 36);
  border-radius: 5px;
}
/* 电影导航 */
.movie {
  height: 380px;
  margin-top: 45px;
  width: 100%;
}
/* 标题栏 */
.movie-title {
  background-color: #fb3e62;
  height: 45px;
  color: white;
  line-height: 45px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.movie-title span {
  float: left;
  font-size: 18px;
  margin-left: 20px;
  margin-right: 10px;
}
.movie-title a {
  float: left;
  font-size: 14px;
  color: white;
  margin-left: 10px;
}
.movie-title a:nth-child(4) {
  float: right;
  font-size: 14px;
}
.movie-title i {
  font-size: 14px;
  margin-left: 1px;
  margin-right: 10px;
}
/* 图片栏 */
.movie-box {
  height: 333px;
  width: 1188px;
  border: 1px solid #ccc;
  background-color: white;
}

.movie-size {
  width: 214px;
  height: 340px;
  float: left;
  margin-top: 20px;
  margin-left: 20px;
  background-image: url("../img/two-tiger.png");
  background-size: 210px;
  background-repeat: no-repeat;
}
.movie-size span {
  display: inline-block;
  color: white;
  margin-top: 245px;
  margin-bottom: 5px;
}
.movie-size span:nth-child(1) {
  margin-left: 10px;
  font-weight: 600;
}
.movie-size span:nth-child(2) {
  color: rgb(254, 140, 0);
  font-size: 13px;
}
.movie-size b {
  color: white;
  margin-top: 5px;
  font-size: 14px;
  font-weight: normal;
  margin-left: 10px;
}
.movie-size p {
  background-color: rgb(255, 73, 73);
  margin-left: 150px;
  width: 50px;
  height: 25px;
  margin-top: -20px;
  text-align: center;
  line-height: 25px;
  color: white;
  border-radius: 25px;
}

.movie-size1 {
  width: 214px;
  height: 340px;
  float: left;
  margin-top: 20px;
  margin-left: 20px;
  background-image: url("../img/Frozen.png");
  background-size: 210px;
  background-repeat: no-repeat;
}
.movie-size1 span {
  display: inline-block;
  color: white;
  margin-top: 245px;
  margin-bottom: 5px;
  position: relative;
  right: 71px;
}
.movie-size1 span:nth-child(1) {
  margin-left: 10px;
  font-weight: 600;
}
.movie-size1 span:nth-child(3) {
  color: rgb(254, 140, 0);
  font-size: 13px;
}
.movie-size1 b {
  color: white;
  margin-top: 5px;
  font-size: 14px;
  font-weight: normal;
  margin-left: 10px;
}
.movie-size1 p {
  background-color: rgb(255, 73, 73);
  margin-left: 150px;
  width: 50px;
  height: 25px;
  margin-top: -20px;
  text-align: center;
  line-height: 25px;
  color: white;
  border-radius: 25px;
}

.movie-size2 {
  width: 214px;
  height: 340px;
  float: left;
  margin-top: 20px;
  margin-left: 20px;
  background-image: url("../img/knives-out.png");
  background-size: 210px;
  background-repeat: no-repeat;
}
.movie-size2 span {
  display: inline-block;
  color: white;
  margin-top: 245px;
  margin-bottom: 5px;
}
.movie-size2 span:nth-child(1) {
  margin-left: 10px;
  font-weight: 600;
}
.movie-size2 span:nth-child(2) {
  color: rgb(254, 140, 0);
  font-size: 13px;
}
.movie-size2 b {
  color: white;
  margin-top: 5px;
  font-size: 14px;
  font-weight: normal;
  margin-left: 10px;
}
.movie-size2 p {
  background-color: rgb(255, 73, 73);
  margin-left: 150px;
  width: 50px;
  height: 25px;
  margin-top: -20px;
  text-align: center;
  line-height: 25px;
  color: white;
  border-radius: 25px;
}

.movie-size3 {
  width: 214px;
  height: 340px;
  float: left;
  margin-top: 20px;
  margin-left: 20px;
  background-image: url("../img/brave-game.png");
  background-size: 210px;
  background-repeat: no-repeat;
}
.movie-size3 span {
  display: inline-block;
  color: white;
  margin-top: 245px;
  margin-bottom: 5px;
  position: relative;
  right: 71px;
}
.movie-size3 span:nth-child(1) {
  margin-left: 10px;
  font-weight: 600;
  margin-left: -70px;
}
.movie-size3 span:nth-child(3) {
  color: rgb(254, 140, 0);
  font-size: 13px;
}
.movie-size3 b {
  color: white;
  margin-top: 5px;
  font-size: 14px;
  font-weight: normal;
  margin-left: 10px;
}
.movie-size3 p {
  background-color: rgb(255, 73, 73);
  margin-left: 150px;
  width: 50px;
  height: 25px;
  margin-top: -20px;
  text-align: center;
  line-height: 25px;
  color: white;
  border-radius: 25px;
}

.movie-size4 {
  width: 214px;
  height: 340px;
  float: left;
  margin-top: 20px;
  margin-left: 20px;
  background-image: url("../img/life\ with\ you.png");
  background-size: 210px;
  background-repeat: no-repeat;
}
.movie-size4 span {
  display: inline-block;
  color: white;
  margin-top: 245px;
  margin-bottom: 5px;
}
.movie-size4 span:nth-child(1) {
  margin-left: 10px;
  font-weight: 600;
}
.movie-size4 span:nth-child(2) {
  color: rgb(254, 140, 0);
  font-size: 13px;
}
.movie-size4 b {
  color: white;
  margin-top: 5px;
  font-size: 14px;
  font-weight: normal;
  margin-left: 10px;
}
.movie-size4 p {
  background-color: rgb(255, 73, 73);
  margin-left: 150px;
  width: 50px;
  height: 25px;
  margin-top: -20px;
  text-align: center;
  line-height: 25px;
  color: white;
  border-radius: 25px;
}
.movie-size1 img {
  margin-bottom: 200px;
}
.movie-size3 img {
  margin-bottom: 200px;
}

/* 推荐民宿 */
.homestay {
  height: 733px;
  margin-top: 45px;
}
.homestay-box {
  height: 670px;
  width: 1188px;
  border: 1px solid #ccc;
  background-color: white;
}
.homestay-title {
  height: 45px;
  background-color: #f2c047;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.homestay-title a {
  float: left;
  color: white;
  font-size: 14px;
  line-height: 45px;
  margin-left: 15px;
}
.homestay-title a:nth-child(1) {
  font-size: 16px;
  color: white;
  margin-left: 20px;
  margin-right: 10px;
}
.homestay-title a:nth-child(12) {
  float: right;
  color: white;
  font-size: 14px;
  line-height: 45px;
  margin-right: 10px;
}
.homestay-title i {
  margin-left: 5px;
}
.homestay-img {
  float: left;
  width: 370px;
  height: 300px;
  margin-left: 20px;
  margin-top: 20px;
}
.homestay-img img {
  width: 370px;
}
.homestay-img img:nth-child(2) {
  position: relative;
  right: 80px;
  top: -30px;
  width: 52px;
  /* right: -78px; */
  left: 296px;
  height: 52px;
  border: 3px solid #fff;
  border-radius: 26px;
}
.homestay-img h3 {
  font-weight: normal;
  font-size: 16px;
  margin-top: -48px;
  margin-bottom: 15px;
}
.homestay-img p {
  font-size: 12px;
  color: #ccc;
  margin-bottom: 10px;
}
.homestay-img span {
  font-size: 22px;
  color: rgb(255, 102, 0);
}
/* 猜你喜欢 */
.like{
  height: 888px;
}
/* 标题 */
.like-title{
  height: 45px;
  background-color: rgb(77,182,213);
  line-height: 45px;
  margin-top: 25px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.like-title span{
  float: left;
  font-size: 18px;
  color: white;
  margin-right: 25px;
  margin-left: 20px;
}
.like-title p{
  color: white;
  font-size: 16px;
}
/* 内容 */
.like-box{
  height: 765px;
  width: 1188px;
  background-color: white;
  border: 1px solid #ccc;
}
.like-content img{
  width:214px;
  height: 120px;
}
.like-content img:nth-child(3){
  width: 90px;
  height: 15px;
  /* margin-left: 20px; */
}
.like-content{
  height: 230px;
  width: 213px;
  margin-left: 20px;
  float: left;
  margin-top: 20px;
}

.like-content h5{
  font-weight: normal;
  font-size: 16px;
  margin-left: 20px;
  margin: 10px 0;
}
.like-content p{
  color: #ccc;
  font-size: 12px;
  margin: 5px 0px;
  /* margin-left: 20px; */
}
.like-content span{
  color: rgb(255,102,0);
  font-size: 22px;
  margin-top: 10px;
  
}
.like-content span:nth-child(7){
  font-size: 12px;
margin-left: 5px;
}
.like-content span:nth-child(5){
  font-size: 12px;
  /* margin-left: 20px; */
}
/* 城市导航 */
.citynav{
  height: 270px;
}
.citynav-box{
  height: 270px;
  background-color: white;
  border: 1px solid rgb(231,231,231);
}
/* 标题 */
.citynav-title{
  float: left;
  width: 100%;
  height: 45px;
  line-height: 45px;
}
.citynav-title span{
  font-size: 16px;
  float: left;
  margin-left: 25px;

}
/* 左边 */
.citynav-left{
  width: 100px;
  height: 220px;
  float: left;
}
.citynav-left dl{
  margin-left: 25px;
  float: left;
}
.citynav-left dd{
  float: left;
  font-size: 14px;
  margin-top: 60px;
}
.citynav-left dd:nth-child(1){
  margin-top: 10px;
}
/* 右边 */
.citynav-right{
  height: 220px;
  width: 1080px;
}

.citynav-right dl dd{
 width: 95px;
  float: left;
  line-height: 30px;
}
.citynav-right dl dd:hover{
  color: rgb(254,140,0);
}
.citynav-right dl:nth-child(2){
  position: relative;
  top: 15px;
}
.citynav-right dl:nth-child(3){
  position: relative;
  top: 32px;
}
.citynav-right dl::after{
  content: '';
  display: block;
  width: 1100px;
  height: 1px;
  position: relative;
  top: 111px;
  left: 89px;
  background-color: #ccc;
}
.citynav-right dl:nth-child(2):after{
  content: '';
  display: block;
  width: 1100px;
  height: 1px;
  position: relative;
  top: 171px;
  left: 89px;
  background-color: #ccc;
}
.citynav-right dl:nth-child(3):after{
  content: '';
  display: block;
  width: 1100px;
  height: 0px;
  position: relative;
  top: 230px;
  left: 89px;
  background-color: #ccc;
}
/* 美团服务 */
.meituan-server{
  height: 575px;
}
.meituan-server-content{
  border-top: 1px solid #ccc;
  margin-top: 40px;
  padding:40px 45px ;
  box-sizing: border-box;
  border-bottom: 1px solid #ccc;
}
.meituan-server-content dt{
  color: #333;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 5px;
}
.meituan-server-content dd a{
  color:#666;
  line-height: 25px;
}
.meituan-server-content dd a:hover{
  color: rgb(254,140,0);
}
.meituan-server-content dl:nth-child(2){
  margin-top: 230px;
  margin-left: -61px;
}
.meituan-server-content dl:nth-child(3){
  margin-left: 140px;
}
.meituan-server-content dl:nth-child(4){
  margin-left: 100px;
}
.meituan-server-content dl:nth-child(5){
  margin-top: 230px;
    margin-left: -133px;
}
.meituan-server-content dl:nth-child(6){
    margin-left: 100px;
}
.meituan-server-content dl:nth-child(7){
  margin-top: 75px;
  margin-left: -70px;
}
.meituan-server-content dl:nth-child(8){
  margin-top: 255px;
  margin-left: -130px;
}
.meituan-server-content dl:nth-child(8){
  margin-left: -130px;
}
.meituan-server-content dl:nth-child(9){
  margin-left: 108px;
}
.meituan-server-content dl:nth-child(10){
  margin-left: 894px;
  margin-top: -315px;
}
.meituan-server-content dl:nth-child(11){
  margin-left: 894px;
  margin-top: -192px;
}
.meituan-server-content dl:nth-child(12){
  margin-left: 894px;
  margin-top: -95px;
}
.meituan-server-content dl:nth-child(13){
  margin-left: 894px;
  margin-top: -35px;
}
.meituan-server-content dl:nth-last-child(2) a:hover{
  color: rgb(255, 102, 0);
}
.meituan-server-content dl:nth-last-child(1) a:hover{
  color: rgb(255, 102, 0);
}
.meituan-server-content dl{
  float: left;
}
.meituan-about{
  height: 75px;
}

.meituan-about-left {
  float: left;
}

.meituan-about-left span{
float: left;
display: block;
font-size: 12px;
color: rgb(153,153,153);
margin-right: 20px;
margin-top: 5px;
}
.meituan-about a{
  display: inline-block;
  margin-top: 5px;
  font-size: 12px;
  color: rgb(153,153,153);
  margin-right: 20px;
}
.meituan-about a:hover{
  color: rgb(254,140,0);
}
.meituan-about-right {
  float: right;
  width: 577px;
  height: 68px;
  margin-top: 10px;
}
.meituan-about-right a{
  font-size: 12px;
  color: rgb(153,153,153);
}
.meituan-about-right .zhizhao{
  margin-top: -48px;
  position: relative;
  bottom: 14px;
  left: 18px;
}
.meituan-about-right  img:nth-child(2){
  float: left;
  width: 38px;
  position: relative;
  left: 15px;
}

.meituan-about-right .tupian2 {
margin-left: -21px;
}

.meituan-about-right a:first-child {
  display: block;
  text-align: right;
}