/* 猫眼电影导航栏 */
.cat-eyes-header {
  height: 80px;
  border-bottom: 1px solid #cccccc;
}
/* 左边 */
.cat-eyes-left {
  float: left;
}
.cat-eyes-left img {
  float: left;
  line-height: 80px;
  margin-top: 20px;
  margin-right: 15px;
}
.cat-eyes-left a {
  float: left;
  font-size: 16px;
  line-height: 80px;
  margin-right: 5px;
}
.cat-eyes-left img:nth-child(3) {
  float: left;
  width: 10px;
  height: 10px;
  margin-top: 35px;
}
/* 中间文字 */
.cat-eyes-center {
  float: left;
}
.cat-eyes-center a {
  float: left;
  text-align: center;
  height: 80px;
  line-height: 80px;
  width: 70px;
  font-size: 18px;
  color: #333;
}
.cat-eyes-center a:nth-child(1) {
  background-color: rgb(239, 66, 56);
}
/* 右边 */
.cat-eyes-right {
  float: left;
  width: 110px;
  margin-left: 50px;
}
.cat-eyes-right a {
  float: left;
  height: 81px;
  text-align: center;
  font-size: 16px;
  color: #333;
  line-height: 81px;
}

.cat-eyes-right a img:nth-child(1) {
  vertical-align: middle;
  margin-top: -7px;
}
.cat-eyes-right a img:nth-child(3) {
  height: 10px;
  margin-left: 2px;
  margin-bottom: 3px;
}
/* 搜索框 */
.cat-eyes-search {
  float: left;
}
.cat-eyes-search {
  float: left;
  border: 1px solid #ccc;
  width: 226px;
  height: 40px;
  background-color: #f8f8f8;
  margin-top: 20px;
  margin-left: 30px;
  border-radius: 25px;
}
.cat-eyes-search input {
  float: left;
  width: 170px;
  height: 40px;
  margin-left: 15px;
  border: none;
  font-size: 14px;
  background-color: #faf8fa;
  border-radius: 25px;
  color: #333;
  padding: 8px;
  box-sizing: border-box;
}
.cat-eyes-search img {
  border-radius: 20px;
  width: 41px;
  height: 41px;
  float: left;
  background-color: rgb(239, 66, 56);
}
/* 最右头像 */
.cat-eyes-right-peoplehead {
  float: right;
}
.cat-eyes-right-peoplehead img {
  float: left;
  margin-top: 20px;
}
.cat-eyes-right-peoplehead img:nth-child(1) {
  width: 40px;
  height: 40px;
}
.cat-eyes-right-peoplehead img:nth-child(2) {
  margin-top: 35px;
  margin-left: 5px;
}
/* 背景 */
.moive-beijing{
  padding: 0px 55px;
}
/* 第二部分正在热映 */
.ishit-content {
  float: left;
  width: 750px;
  height: 622px;
  margin: 65px 0px 0px;
}
/* 标题 */
.ishit-title {
  float: left;
  height: 50px;
  width: 750px;
  line-height: 50px;
}
.ishit-title span {
  float: left;
  margin-left: 19px;
  font-size: 25px;
  color: rgb(239, 66, 56);
}
.ishit-title span:nth-child(2) {
  margin-left: 0;
}
.ishit-title a {
  float: right;
  font-size: 14px;
  color: rgb(239, 66, 56);
}
.ishit-title img {
  float: right;
  margin-top: 17px;
  margin-left: 5px;
}
/* 下部分 */
.ishit-bottom {
  float: left;
}
.ishit-bottom a {
  position: relative;
  float: left;
  width: 160px;
  height: 260px;
  background-image: url("../image/two-tiger.png");
  background-size: 160px;
  background-repeat: no-repeat;
  margin-left: 22px;
  margin-top: 20px;
  margin-bottom: 10px;
}
/* 重复背景图代码 */
.ishit-bottom a:hover {
  box-shadow: 0 2px 14px rgba(0, 0, 0, 0.1);
}
.ishit-bottom a:nth-child(2) {
  background-image: url("../image/brave-game.png");
}
.ishit-bottom a:nth-child(3) {
  background-image: url("../image/north.png");
}
.ishit-bottom a:nth-child(4) {
  background-image: url("../image/knives-out.png");
}
.ishit-bottom a:nth-child(5) {
  background-image: url("../image/Frozen.png");
}
.ishit-bottom a:nth-child(6) {
  background-image: url("../image/people.png");
}
.ishit-bottom a:nth-child(7) {
  background-image: url("../image/xingjitansuo.png");
}
.ishit-bottom a:nth-child(8) {
  background-image: url("../image/life\ with\ you.png");
}
.ishit-bottom span {
  float: left;
  color: rgb(255, 180, 0);
  font-size: 18px;
  margin-left: 115px;
  position: absolute;
  top: 196px;
  left: 3px;
}
.ishit-bottom a span:nth-child(2) {
  font-size: 14px;
  margin-left: 0;
  position: absolute;
  top: 200px;
  left: 133px;
}
.ishit-bottom h5 {
  font-weight: normal;
  font-size: 16px;
  color: white;
  position: absolute;
  top: 195px;
  left: 0px;
  width: 160px;
  height: 25px;
  line-height: 25px;
  background-color: rgba(0, 0, 0, 0.3);
}
.ishit-bottom a:nth-last-child(-n + 3) h5 {
  background-color: rgba(0, 0, 0, 0);
}
.ishit-bottom b {
  position: absolute;
  top: 222px;
  display: block;
  border-top: none;
  width: 158px;
  height: 37px;
  border: 1px solid rgb(239, 239, 239);
  text-align: center;
  line-height: 37px;
  color: rgb(239, 66, 56);
  font-size: 16px;
  font-weight: normal;
  border-top: none;
}
.ishit-bottom b:hover {
  background-color: rgb(239, 66, 56);
  color: white;
}
/* 第三部分今日票房 */
.todya {
  width: 360px;
  height: 464px;
}
/* 标题 */
.today-title {
  float: left;
  height: 50px;
  width: 360px;
  line-height: 50px;
  margin-top: 62px;
  margin-left: 55px;
}
.today-title span {
  float: left;
  margin-left: 19px;
  font-size: 25px;
  color: rgb(239, 66, 56);
}
/* 内容 */
.today-content {
  float: left;
  height: 450px;
  width: 360px;
  margin-left: 77px;
}
/* 第一行 */
.today-content-one {
  float: left;
  width: 360px;
  height: 80px;
  border: 1px solid rgb(239, 239, 239);
  margin-left: 75px;
  margin-top: 22px;
  margin-bottom: 20px;
}
.today-content-one img {
  float: left;
}
.today-content-one span {
  float: left;
  font-size: 18px;
  margin-top: 17px;
  margin-left: 15px;
}
.today-content-one span:nth-child(4) {
  color: rgb(239, 66, 56);
  font-size: 14px;
  margin-left: -70px;
  margin-top: 38px;
}
/* 内容 */
.today-content .today-content-size {
  width: 360px;
  height: 35px;
  line-height: 35px;
  display: block;
  margin-top: 1px;
}
.today-content .today-content-size:hover {
  background-color: rgb(243, 243, 243);
}
.today-content .today-content-size h5 {
  float: left;
  font-weight: normal;
  color: rgb(239, 66, 56);
  font-size: 20px;
  margin-right: 20px;
}
.today-content .today-content-size span {
  float: left;
  color: #333;
  font-size: 14px;
}
.today-content .today-content-size p {
  float: right;
  color: rgb(239, 66, 56);
  font-size: 14px;
}

.today-content a .ten {
  margin-right: 10px;
}
/* 今日大盘 */
.today-market {
  float: left;
  width: 360px;
  height: 108px;
  border: 1px solid rgb(239, 239, 239);
  margin-top: 16px;
}
/* 左边 */
.today-market-left {
  float: left;
}
.today-market-left h3 {
  float: left;
  width: 20px;
  height: 88px;
  padding: 10px;
  color: #fff;
  background-color: #ef4238;
  text-align: center;
  font-weight: 400;
  font-size: 17px;
  line-height: 23px;
}
/* 右边上部分 */
.today-market-right-top {
  float: left;
  width: 290px;
  height: 40px;
  margin-top: 25px;
  margin-left: 20px;
}
.today-market-right-top span {
  float: left;
  color: rgb(239, 66, 56);
  font-size: 30px;
  font-weight: 600;
}
.today-market-right-top span:nth-child(2) {
  font-size: 14px;
  font-weight: normal;
  margin-top: 13px;
  margin-left: 3px;
}
.today-market-right-top a {
  width: 80px;
  height: 40px;
  float: left;
  color: rgb(239, 66, 56);
  font-size: 16px;
  margin-top: 10px;
  margin-left: 100px;
}
/* 右边下部分 */
.today-market-right-bottom {
  float: left;
  widows: 289px;
  height: 30px;
  margin-top: 5px;
}
.today-market-right-bottom span {
  float: left;
  color: rgb(153, 153, 153);
  font-size: 14px;
  margin-left: 20px;
}
.today-market-right-bottom span:nth-child(2) {
  float: right;
  color: rgb(153, 153, 153);
  margin-left: 18px;
}

/* 即将上映 */
.coming-soon-content {
  float: left;
  width: 750px;
  height: 765px;
  margin: 62px 0px 0px;
}
/* 标题 */
.coming-soon-title {
  float: left;
  height: 50px;
  width: 750px;
  line-height: 50px;
}
.coming-soon-title span {
  float: left;
  margin-left: 19px;
  font-size: 25px;
  color: rgb(45, 152, 243);
}
.coming-soon-title span:nth-child(2) {
  margin-left: 0;
}
.coming-soon-title a {
  float: right;
  font-size: 14px;
  color: rgb(45, 152, 243);
}
.coming-soon-title img {
  float: right;
  margin-top: 17px;
  margin-left: 5px;
}
/* 下部分 */
.coming-soon-bottom {
  float: left;
}
.coming-soon-bottom a {
  position: relative;
  float: left;
  width: 160px;
  height: 260px;
  background-image: url("../image/ruonenghenigongchenghailang.png");
  background-size: 160px;
  background-repeat: no-repeat;
  margin-left: 22px;
  margin-top: 20px;
  margin-bottom: 10px;
  border: 1px solid rgb(243, 243, 243);
  margin-bottom: 75px;
}
.coming-soon-bottom a:hover {
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
}
.coming-soon-bottom a,
h2,
h3,
h4,
h5 {
  font-weight: normal;
}
.coming-soon-bottom a h5 {
  position: absolute;
  left: 0px;
  left: -9px;
  width: 159px;
  height: 51px;
  top: 192px;
  float: left;
  color: white;
  font-size: 16px;
  line-height: 22px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 10px;
  background-image: url(../image/yinying.png);
  background-size: 53px;
}
.coming-soon-bottom a h4 {
  position: absolute;
  top: 220px;
  width: 150px;
  float: left;
  height: 34px;
  line-height: 34px;
  font-size: 14px;
  color: #ffb400;
  background-color: #fbfbfb;
  text-align: left;
  padding-left: 10px;
  border-bottom: none;
}
.coming-soon-bottom-box {
  position: absolute;
  top: 260px;
  width: 160px;
  height: 39px;
  float: left;
  text-align: center;
}
.coming-soon-bottom-box h3,
h2 {
  float: left;
  width: 50%;
  box-sizing: border-box;
  border: 1px solid rgb(243, 243, 243);
  border-top: none;
  vertical-align: top;
  color: #999;
  font-size: 14px;
  margin-top: 0px;
  line-height: 40px;
  height: 100%;
}
.coming-soon-bottom-box h2 {
  border-left: none;
  color: rgb(63, 161, 244);
}
.coming-soon-bottom-box h3 {
  border-right: dashed rgb(243, 243, 243);
}
.coming-soon-bottom a span {
  position: absolute;
  top: 300px;
  left: 35px;
  border: none;
  color: #999;
  font-size: 14px;
  line-height: 40px;
}
/* 背景图重复代码 */
.coming-soon-bottom a:nth-child(2) {
  background-image: url("../image/lanxindajuyuan.png");
}
.coming-soon-bottom a:nth-child(3) {
  background-image: url("../image/laoban.png");
}
.coming-soon-bottom a:nth-child(4) {
  background-image: url("../image/nashifneghua.png");
}
.coming-soon-bottom a:nth-child(5) {
  background-image: url("../image/tianhuo.png");
}
.coming-soon-bottom a:nth-child(6) {
  background-image: url("../image/xiheliange.png");
}
.coming-soon-bottom a:nth-child(7) {
  background-image: url("../image/kake.png");
}
.coming-soon-bottom a:nth-child(8) {
  background-image: url("../image/beishiguangzhuazouderen.png");
}

/* 最受期待 */
.have-the-call {
  float: left;
  width: 360px;
  height: 812px;
  margin-left: 75px;
}
/* 标题 */
.have-the-call-title {
  float: left;
  height: 50px;
  width: 360px;
  line-height: 50px;
  margin-top: 62px;
}
.have-the-call-title span {
  float: left;
  font-size: 25px;
  color: rgb(255, 180, 0);
}
.have-the-call-title a {
  float: right;
  font-size: 14px;
  color: rgb(255, 180, 0);
}
.have-the-call-title img {
  float: right;
  margin-top: 17px;
  margin-left: 5px;
}
/* 第一行 */
.have-the-call-one {
  float: left;
  width: 360px;
  height: 194px;
  border: 1px solid rgb(243, 243, 243);
  margin-top: 20px;
  margin-bottom: 25px;
}
.have-the-call-one:hover {
  background-color: rgb(247, 247, 247);
}
.have-the-call-one img {
  float: left;
}
.have-the-call-one-box {
  float: left;
  margin-left: 10px;
}
.have-the-call-one h5 {
  color: #333;
  line-height: 1.4;
  font-size: 18px;
  margin-top: 60px;
  margin-bottom: 10px;
  margin-left: 5px;
}
.have-the-call-one p {
  color: rgb(169, 169, 169);
  margin-bottom: 10px;
  margin-left: 5px;
  font-size: 16px;
}
.have-the-call-one span {
  color: rgb(254, 193, 48);
  margin-left: 5px;
  font-size: 14px;
}
/* 第二行 */
.have-the-call-one-box1 {
  float: left;
  width: 172px;
  height: 185px;
  border: 1px solid rgb(243, 243, 243);
  margin-bottom: 20px;
}
.have-the-call-one-box1:hover {
  background-color: rgb(247, 247, 247);
}
.have-the-call-one-box1:nth-child(4) {
  margin-left: 12px;
}
.have-the-call-one-box1 h3 {
  font-weight: normal;
  font-size: 18px;
  color: #333;
  margin: 10px 0px 10px 10px;
}
.have-the-call-one-box1 span {
  color: rgb(254, 193, 48);
  font-size: 14px;
  margin: 0px 10px;
}

/* 内容 */
.have-the-call-content .have-the-call-content-size {
  float: left;
  width: 360px;
  height: 35px;
  line-height: 35px;
  display: block;
  margin-top: 1px;
}
.have-the-call-content .have-the-call-content-size:hover {
  background-color: rgb(243, 243, 243);
}
.have-the-call-content .have-the-call-content-size h5 {
  float: left;
  font-weight: normal;
  color: rgb(253, 184, 99);
  font-size: 20px;
  margin-right: 20px;
}
.have-the-call-content .have-the-call-content-size span {
  float: left;
  color: #333;
  font-size: 14px;
}
.have-the-call-content .have-the-call-content-size p {
  float: right;
  color: rgb(253, 184, 99);
  font-size: 14px;
}

.have-the-call-content a .ten {
  margin-right: 10px;
}

/* 正在热播 */
/* 内容 */
.now-movie-content {
  float: left;
  width: 750px;
  height: 540px;
  margin: 62px 0px 0px;
}
/* 标题 */
.now-movie-title {
  float: left;
  height: 50px;
  width: 750px;
  line-height: 50px;
  margin-left: 22px;
  margin-bottom: 15px;
}
.now-movie-title span {
  float: left;
  font-size: 25px;
  color: rgb(239, 66, 56);
}
.now-movie-title img {
  float: right;
  margin-top: 17px;
  margin-left: 5px;
}
.now-movie-title a {
  float: left;
  font-size: 14px;
  margin-left: 15px;
}
.now-movie-title a:nth-child(8) {
  float: right;
  font-size: 14px;
  color: rgb(239, 66, 56);
}
/* 内容 */
.now-movie-content-bottom {
  float: left;
}
.now-movie-content-bottom a {
  position: relative;
  float: left;
  width: 160px;
  height: 220px;
  background-image: url("../image/tangrenjie.png");
  margin-left: 26px;
  margin-bottom: 30px;
}
.now-movie-content-bottom a:hover{
  box-shadow: 0px 10px 10px rgba(0,0,0,0.3);
}
.now-movie-content-bottom a:nth-child(1) {
  position: relative;
  float: left;
  width: 350px;
  height: 220px;
  background-image: url("../image/tangrenjie.png");
}
.now-movie-content-bottom a span {
  position: absolute;
  top: 190px;
  left: 10px;
  color: white;
  font-size: 16px;
  width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.now-movie-content-bottom a h5 {
  position: absolute;
  top: 190px;
  right: 10px;
  color: rgb(232, 170, 25);
  font-size: 18px;
}
/*重复代码 */
.now-movie-content-bottom a:nth-child(2) {
  background-image: url("../image/ligui.png");
}
.now-movie-content-bottom a:nth-child(3) {
  background-image: url("../image/xiyouji.png");
}
.now-movie-content-bottom a:nth-child(4) {
  background-image: url("../image/zhanlang.png");
}
.now-movie-content-bottom a:nth-child(5) {
  background-image: url("../image/xialuo.png");
}
.now-movie-content-bottom a:nth-child(6) {
  background-image: url("../image/bairiliehuo.png");
}
.now-movie-content-bottom a:nth-child(7) {
  background-image: url("../image/jinqiandiguo.png");
}

/* TOP100 */
.top {
  float: left;
  width: 360px;
  height: 555px;
  margin-left: 75px;
}
/* 标题 */
.top-title {
  float: left;
  height: 50px;
  width: 360px;
  line-height: 50px;
  margin-top: 62px;
}
.top-title span {
  float: left;
  font-size: 25px;
  color: rgb(255, 180, 0);
}
.top-title a {
  float: right;
  font-size: 14px;
  color: rgb(255, 180, 0);
}
.top-title img {
  float: right;
  margin-top: 17px;
  margin-left: 5px;
}
/* 第一行 */
.top-one {
  float: left;
  width: 360px;
  height: 80px;
  border: 1px solid rgb(239, 239, 239);
  margin-top: 22px;
  margin-bottom: 20px;
}
.top-one img {
  float: left;
}
.top-one span {
  float: left;
  font-size: 18px;
  margin-top: 17px;
  margin-left: 15px;
}
.top-one span:nth-child(4) {
  color: rgb(254, 193, 48);
  font-size: 14px;
  margin-left: -70px;
  margin-top: 38px;
}


/* 内容 */
.top-content .top-content-size {
  float: left;
  width: 360px;
  height: 35px;
  line-height: 35px;
  display: block;
  margin-top: 1px;
  font-size: 14px;
}
.top-content .top-content-size:hover {
  background-color: rgb(243, 243, 243);
}
.top-content .top-content-size h5 {
  float: left;
  font-weight: normal;
  color: rgb(253, 184, 99);
  font-size: 20px;
  margin-right: 20px;
}
.top-content .top-content-sizespan {
  float: left;
  color: #333;
  font-size: 14px;
}
.top-content .top-content-size p {
  float: right;
  color: rgb(253, 184, 99);
  font-size: 14px;
}

.top-content-size .ten {
  margin-right: 10px;
}

/* 关于猫眼 */
.maoyan-foot{
  float: left;
  width: 100%;
  height: 370px;
  background-color: rgb(38,36,38);
  margin-top: 100px;
  text-align: center;
}
/* 标题 */
.maoyan-foot-title{
  float: left;
  width: 345px;
  margin-left: 255px;
  height: 22px;
  line-height: 22px;
  text-align: center;
  margin-top: 60px;
}
.maoyan-foot-title:nth-child(2){
  margin-left: 0px;
}
.maoyan-foot-title span,i{
  float: left;
  color: rgb(204,204,204);
  font-size: 14px;
}
.maoyan-foot-title i{
  float: left;
  margin: 0px 12px;
}
.maoyan-foot-title a{
  float: left;
  color: rgb(239, 66, 56);
  font-size: 14px;
}
.maoyan-foot-content{
  float: left;
  margin-left: 255px;
  height: 22px;
  line-height: 22px;
  text-align: center;
}
.maoyan-foot-content span{
  float: left;
  color: rgb(204,204,204);
  font-size: 14px;
  text-align: center;

}
.maoyan-foot-content i{
  margin: 0 12px;
}
.maoyan-foot-content a{
  float: left;
  color: rgb(204,204,204);
  font-size: 14px;
  text-align: center;  
}
.maoyan-foot-content span:nth-child(1){
  margin-left: 25px;
}
.maoyan-foot-content span:nth-child(3){
  margin-left: 38px;
}
.maoyan-foot-content a:nth-child(5){
  margin-left: -22px;
}
.maoyan-foot-content a:nth-child(12){
  margin-left: 140px;
}
.maoyan-foot-content a:nth-last-child(8){
  margin-left: 210px;
}
.maoyan-foot-content span:nth-last-child(6){
 margin-left: 225px;
}
.maoyan-foot-content span:nth-last-child(4){
  margin-left: 215px; 
}
.maoyan-foot-content img{
  float: left;
  margin-left: 175px;
  margin-top: 25px;
}
.maoyan-foot-content img:nth-last-child(1){
  margin-left: 15px;
}